@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"),
         url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
       url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
       url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --white-30: rgba(255, 255, 255, 0.3);
  --white-60: rgba(255, 255, 255, 0.6);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-60: rgba(0, 0, 0, 0.6);
  --input-grey: #F2F2F2;
  --input-grey-hover: #EAEAEA;
  --input-invalid: #F6DADA;
  --filter-header-grey: #DCDCDC;
  --pagination-grey: #EBEBEB;
  --pagination-button-grey: #D9D9D9;
}

/* Общие стили */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
}

a {
  color: var(--basic-black);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/* Кнопки, ссылки */

.button {
  display: block;
  text-align: center;
  padding-top: 12px;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
  width: 220px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.button::before {
  display: block;
  content: "";
  background-color: var(--special-yellow-dark);
  height: 8px;
  width: 220px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.button:hover::before {
  height: 40px;
  width: 220px;
  top: 0;
}

.button:active {
  color: var(--black-30);
}

/* Хедер */

.main-header {
  background-color: var(--special-yellow);
  height: 350px;
}

.header-section {
  line-height: 20px;
}

.header-logo {
  display: block;
  width: 163px;
  height: 35px;
  background-image: url('../img/logo.svg');
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-search {
  background-color: transparent ;
  background-image: url('../img/icons/search.svg');
  background-repeat: no-repeat;
  border: none;
}

.header-search::placeholder {
  color: var(--black-30);
}

.header-search:hover::placeholder {
  color: var(--black-60);
}

.header-search:focus::placeholder {
  color: var(--basic-black);
}

.header-search:focus {
  outline: none;
}

.search-button {
  background-color: transparent;
  outline: none;
  border: none;
}

.search-button:hover {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.search-button:active {
  background-color: var(--basic-black);
  color: var(--white-30);
}

.login-link {
  background-image: url('../img/icons/user.svg');
  background-repeat: no-repeat;
}

.compare-link {
  background-image: url('../img/icons/compare.svg');
  background-repeat: no-repeat;
}

.bucket-link {
  background-image: url('../img/icons/bucket.svg');
  background-repeat: no-repeat;
}

.user-link {
  background-image: url('../img/icons/user.svg');
  background-repeat: no-repeat;
}

.login-link:hover,
.compare-link:hover,
.bucket-link:hover,
.user-link:hover {
  color: var(--black-60);
  opacity: 0.6;
}

.login-link:active,
.compare-link:active,
.bucket-link:active,
.user-link:active {
  color: var(--black-30);
  opacity: 0.3;
}

.signout-link {
  opacity: 0.3;
}

.signout-link:hover {
  opacity: 1;
}

.signout-link:active {
  opacity: 0.6;
}

.navigation-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.catalog-item {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.navigation-item:first-child {
  background-image: url('../img/icons/add.svg');
  background-repeat: no-repeat;
  background-position: 200px 0;
}

.navigation-catalog {
  display: none;
  background-color: var(--special-yellow);
}

.navigation-item:first-child:hover .navigation-catalog {
  display: block;
  position: fixed;
}

.navigation-item > a:hover,
.catalog-item> a:hover {
  color: var(--black-60);
}

.navigation-item > a:active,
.catalog-item > a:active {
  color: var(--black-30);
}

/* Главный слайдер */

.preview-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.preview-description {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.main-preview {
  margin-top: -150px;
}

.main-preview::before {
  display: block;
  content: "";
  width: 50px;
  height: 10px;
  background-color: var(--basic-white);
}

.preview-slide::before {
  display: block;
  text-align: right;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.preview-slide:nth-child(1)::before {
  content: "01";
}

.preview-slide:nth-child(2)::before {
  content: "02";
}

.preview-slide:nth-child(3)::before {
  content: "03";
}

.slide-toggle {
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url('../img/slider/slider-button-off.svg');
  background-repeat: no-repeat;
}

.slide-active {
  background-image: url('../img/slider/slider-button-on.svg');
}

/* Категории товаров */

.category-section {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.category-link div {
  width: 100px;
  height: 100px;
  background-color: var(--special-yellow);
}

.category-link:active p {
  color: var(--black-30);
}

.category-link:hover div {
  background-color: var(--special-yellow-dark);
}

.category-link:hover img {
  opacity: 0.6;
}

.category-link:active div {
  background-color: var(--special-yellow-dark);
}

.category-link:active img {
  opacity: 0.3;
}

/* Advantages Преимущества */

.advantages {
  background-color: var(--basic-grey-light);
  position: relative;
  z-index: 0;
}

.advantages-active {
  background-color: var(--basic-black);
  color: var(--special-yellow);
}

.advantages-active::before,
.advantages-active:hover::before {
  display: none;
}

.advantages-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.advantages-description {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.advantages-item:nth-child(1) {
  background: url("../img/service/delivery.svg") no-repeat;
}

.advantages-item:nth-child(2) {
  background: url("../img/service/guarantee.svg") no-repeat;
}

.advantages-item:nth-child(3) {
  background: url("../img/service/credit.svg") no-repeat;
}

/* Partners Партнеры */

.partner-link {
  display: block;
  width: 260px;
  height: 100px;
}

.partner-dji {
  background: url("../img/partners/dji_grey.png") no-repeat;
}

.partner-spgadjets {
  background: url("../img/partners/spgadgets_grey.png") no-repeat;
}

.partner-gopro {
  background: url("../img/partners/gopro_grey.png") no-repeat;
}

.partner-vive {
  background: url("../img/partners/vive_grey.png") no-repeat;
}

/*  */

.partner-dji:hover {
  background: url("../img/partners/dji.png") no-repeat;
}

.partner-spgadjets:hover {
  background: url("../img/partners/spgadgets.png") no-repeat;
}

.partner-gopro:hover {
  background: url("../img/partners/gopro.png") no-repeat;
}

.partner-vive:hover {
  background: url("../img/partners/vive.png") no-repeat;
}

/* About Us, О нас */
/* Contacts Контакты*/

.about-header,
.contacts-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-header::before,
.contacts-header::before {
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about-description,
.contacts-description {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.about-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  list-style: none;
}

.about-item::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid var(--basic-grey-light);
  border-radius: 50%;
}

/* Footer Футер */

.footer {
  background-color: var(--basic-dark);
}

.footer,
.footer a {
  color: var(--basic-white);
}

.footer-logo {
  display: block;
  width: 163px;
  height: 35px;
  background-image: url('../img/logo-yellow.svg');
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}


.footer-login,
.footer-compare,
.footer-bucket,
.footer-user,
.footer-signout {
  opacity: 0.7;
}

.footer-login {
  background-image: url('../img/icons/user-yellow.svg');
  background-repeat: no-repeat;
}

.footer-compare {
  background-image: url('../img/icons/compare-yellow.svg');
  background-repeat: no-repeat;
}

.footer-bucket {
  background-image: url('../img/icons/bucket-yellow.svg');
  background-repeat: no-repeat;
}

.footer-user {
  background-image: url('../img/icons/user-yellow.svg');
  background-repeat: no-repeat;
}

.footer-login:hover,
.footer-compare:hover,
.footer-bucket:hover,
.footer-user:hover,
.footer-signout:hover {
  opacity: 1;
}

.footer-login:active,
.footer-compare:active,
.footer-bucket:active,
.footer-user:active,
.footer-signout:active {
  opacity: 0.3;
}

.footer-address,
.footer-phone {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 20px;
}

.footer-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-item a:hover {
  opacity: 0.6;
}

.footer-item a:active {
  opacity: 0.3;
}

.social-item > a {
  opacity: 0.3;
}

.social-item > a:hover {
  opacity: 0.6;
}

.social-item > a:active {
  opacity: 0.1;
}

.facebook {
  background-image: url('../img/socials/facebook.svg');
  background-repeat: no-repeat;
}

.instagram {
  background-image: url('../img/socials/instagram.svg');
  background-repeat: no-repeat;
}

.twitter {
  background-image: url('../img/socials/twitter.svg');
  background-repeat: no-repeat;
}

.htmlacademy-link {
  background-image: url('../img/logo_htmlacademy.svg');
  background-repeat: no-repeat;
}

.htmlacademy-link:hover {
  opacity: 0.6;
}

.htmlacademy-link:active {
  opacity: 0.3;
}

/* Popup Modal */

.popup-close {
  border: none;
  background-color: transparent;
  background-image: url('../img/icons/close.svg');
  opacity: 0.6;
  width: 55px;
  height: 55px;
}

.popup-close:hover {
  opacity: 1;
}

.popup-close:active {
  opacity: 0.3;
}

/* Write Us Напишите нам */

.writeus-label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.writeus-input {
  background-color: var(--input-grey);
  border: none;
  outline: none;
}

.writeus-input:hover {
  background-color: var(--input-grey-hover);
}

.writeus-input:focus {
  background-color: transparent;
  border: 2px solid var(--special-yellow);
}

.writeus-input:required {
  background-color: var(--input-invalid);
}

.writeus-input::placeholder {
  color: var(--black-40);
}

.writeus-input:focus::placeholder {
  color: var(--basic-dark);
}

/* Catalog Каталог */

.catalog-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

/* История, хлебные крошки History */

.catalog-history {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.history-item,
.history-item a {
  color: var(--black-30);
}

.history-item:hover,
.history-item:hover a {
  color: var(--black-60);
}

.history-item:active,
.history-item:active a {
  color: var(--black-10);
}

.history-item:not(:first-child) {
  background-image: url('../img/icons/arrow.svg');
  background-repeat: no-repeat;
}

/* Filters Фильтры */

.catalog-filter {
  background-color: var(--basic-grey-light);
  position: relative;
  z-index: 0;
}

.filter-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--filter-header-grey);
}

.filter-legend {
  margin-top: 200px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter-fildset {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.fieldset-wrapper {
  padding-top: 0px;
  border-top: 2px solid var(--basic-black);
}

.filter-label {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.filter-checkbox,
.filter-radio {
  display: none;
}

.filter-checkbox + .filter-label {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='22' height='22' rx='1' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.filter-checkbox:checked + .filter-label {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='22' height='22' rx='1' stroke='black' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.07692 10.75L5.38461 12.5L10.4615 17.75L18.9231 9L17.2308 7.25L10.4615 14.25L7.07692 10.75Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.filter-checkbox:hover + .filter-label {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='22' height='22' rx='1' stroke='rgba(0, 0, 0, 0.6)' stroke-width='2'/%3E%3C/svg%3E");
}

.filter-checkbox:checked:hover + .filter-label {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='22' height='22' rx='1' stroke='rgba(0, 0, 0, 0.6)' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.07692 10.75L5.38461 12.5L10.4615 17.75L18.9231 9L17.2308 7.25L10.4615 14.25L7.07692 10.75Z' fill='rgba(0, 0, 0, 0.6)'/%3E%3C/svg%3E");
}

.filter-radio + .filter-label {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.filter-radio:hover + .filter-label {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11' stroke='rgba(0, 0, 0, 0.6)' stroke-width='2'/%3E%3C/svg%3E");
}

.filter-radio:checked + .filter-label {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11' stroke='black' stroke-width='2'/%3E%3Ccircle cx='12' cy='12' r='4' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.filter-radio:checked:hover + .filter-label {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11' stroke='rgba(0, 0, 0, 0.6)' stroke-width='2'/%3E%3Ccircle cx='12' cy='12' r='4' fill='rgba(0, 0, 0, 0.6)'/%3E%3C/svg%3E");
}

/* Sort Сортировка  */

.catalog-sort {
  background-color: var(--basic-grey-light);
}

.sort-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.sort-link:hover {
  opacity: 0.6;
}

.sort-active {
  opacity: 1;
}

.sort-up {
  background-image: url('../img/icons/arrow_up.svg');
  background-repeat: no-repeat;
}

.sort-down {
  background-image: url('../img/icons/arrow_down.svg');
  background-repeat: no-repeat;
}

.sort-up,
.sort-down {
  opacity: 0.2;
}

.sort-up:hover,
.sort-down:hover {
  opacity: 0.4;
}

.sort-updown-active {
  opacity: 1;
}

/* Products Продукты Товары */

.product-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.product-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.button-to-compare {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
}

.button-to-compare:hover {
  opacity: 1;
}

.button-to-compare:active {
  opacity: 0.2;
}

/* Pagination Пагинация */

.catalog-pagination {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--pagination-grey);
}

.pagination-backword:hover,
.pagination-forword:hover {
  background-color: var(--pagination-button-grey);
}

.pagination-backword:active,
.pagination-forword:active {
  color: var(--black-30);
}

.pagination-link {
  opacity: 0.3;
}

.pagination-link:hover {
  opacity: 0.6;
}
