@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"),
         url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
       url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
       url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --white-30: rgba(255, 255, 255, 0.3);
  --white-60: rgba(255, 255, 255, 0.6);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-60: rgba(0, 0, 0, 0.6);
  --input-grey: #F2F2F2;
  --input-grey-hover: #EAEAEA;
  --input-invalid: #F6DADA;
}

/* Общие стили */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
}

a {
  color: var(--basic-black);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/* Кнопки, ссылки */

.button {
  display: block;
  text-align: center;
  padding-top: 12px;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
  width: 220px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.button::before {
  display: block;
  content: "";
  background-color: var(--special-yellow-dark);
  height: 8px;
  width: 220px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.button:hover::before {
  height: 40px;
  width: 220px;
  top: 0;
}

.button:active {
  color: var(--black-30);
}

/* Хедер */

.main-header {
  background-color: var(--special-yellow);
  height: 350px;
}

.header-section {
  line-height: 20px;
}

.header-logo {
  display: block;
  width: 163px;
  height: 35px;
  background-image: url('../img/logo.svg');
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-search {
  background-color: transparent ;
  background-image: url('../img/icons/search.svg');
  background-repeat: no-repeat;
  border: none;
}

.header-search::placeholder {
  color: var(--black-30);
}

.header-search:hover::placeholder {
  color: var(--black-60);
}

.header-search:focus::placeholder {
  color: var(--basic-black);
}

.header-search:focus {
  outline: none;
}

.search-button {
  background-color: transparent;
  outline: none;
  border: none;
}

.search-button:hover {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.search-button:active {
  background-color: var(--basic-black);
  color: var(--white-30);
}

.login-link {
  background-image: url('../img/icons/user.svg');
  background-repeat: no-repeat;
}

.compare-link {
  background-image: url('../img/icons/compare.svg');
  background-repeat: no-repeat;
}

.bucket-link {
  background-image: url('../img/icons/bucket.svg');
  background-repeat: no-repeat;
}

.login-link:hover,
.compare-link:hover,
.bucket-link:hover {
  color: var(--black-60);
  opacity: 0.6;
}

.login-link:active,
.compare-link:active,
.bucket-link:active {
  color: var(--black-30);
  opacity: 0.3;
}

.navigation-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.catalog-item {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.navigation-item:first-child {
  background-image: url('../img/icons/add.svg');
  background-repeat: no-repeat;
  background-position: 200px 0;
}

.navigation-catalog {
  display: none;
  background-color: var(--special-yellow);
}

.navigation-item:first-child:hover .navigation-catalog {
  display: block;
  position: fixed;
}

.navigation-item > a:hover,
.catalog-item> a:hover {
  color: var(--black-60);
}

.navigation-item > a:active,
.catalog-item > a:active {
  color: var(--black-30);
}

/* Главный слайдер */

.preview-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.preview-description {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.main-preview {
  margin-top: -150px;
}

.main-preview::before {
  display: block;
  content: "";
  width: 50px;
  height: 10px;
  background-color: var(--basic-white);
}

.preview-slide:nth-child(1) {
  background: url('../img/slider/dron.png') no-repeat;

}

.preview-slide:nth-child(2) {
  background: url('../img/slider/watch.png') no-repeat;

}

.preview-slide:nth-child(3) {
  background: url('../img/slider/selfi.png') no-repeat;
}

.preview-slide::before {
  display: block;
  text-align: right;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.preview-slide:nth-child(1)::before {
  content: "01";
}

.preview-slide:nth-child(2)::before {
  content: "02";
}

.preview-slide:nth-child(3)::before {
  content: "03";
}

.slide-toggle {
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url('../img/slider/slider-button-off.svg');
  background-repeat: no-repeat;
}

.slide-active {
  background-image: url('../img/slider/slider-button-on.svg');
}

/* Категории товаров */

.category-section {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.category-link div {
  width: 100px;
  height: 100px;
  background-color: var(--special-yellow);
}

.category-link:active p {
  color: var(--black-30);
}

.category-link:hover div {
  background-color: var(--special-yellow-dark);
}

.category-link:hover img {
  opacity: 0.6;
}

.category-link:active div {
  background-color: var(--special-yellow-dark);
}

.category-link:active img {
  opacity: 0.3;
}

/* Advantages Преимущества */

.advantages {
  background-color: var(--basic-grey-light);
  position: relative;
  z-index: 0;
}

.advantages-active {
  background-color: var(--basic-black);
  color: var(--special-yellow);
}

.advantages-active::before,
.advantages-active:hover::before {
  display: none;
}

.advantages-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.advantages-description {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.advantages-item:nth-child(1) {
  background: url("../img/service/delivery.svg") no-repeat;
}

.advantages-item:nth-child(2) {
  background: url("../img/service/guarantee.svg") no-repeat;
}

.advantages-item:nth-child(3) {
  background: url("../img/service/credit.svg") no-repeat;
}

/* Partners Партнеры */

.partner-link {
  display: block;
  width: 260px;
  height: 100px;
}

.partner-dji {
  background: url("../img/partners/dji_grey.png") no-repeat;
}

.partner-spgadjets {
  background: url("../img/partners/spgadgets_grey.png") no-repeat;
}

.partner-gopro {
  background: url("../img/partners/gopro_grey.png") no-repeat;
}

.partner-vive {
  background: url("../img/partners/vive_grey.png") no-repeat;
}

/*  */

.partner-dji:hover {
  background: url("../img/partners/dji.png") no-repeat;
}

.partner-spgadjets:hover {
  background: url("../img/partners/spgadgets.png") no-repeat;
}

.partner-gopro:hover {
  background: url("../img/partners/gopro.png") no-repeat;
}

.partner-vive:hover {
  background: url("../img/partners/vive.png") no-repeat;
}

/* About Us, О нас */
/* Contacts Контакты*/

.about-header,
.contacts-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-header::before,
.contacts-header::before {
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about-description,
.contacts-description {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.about-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  list-style: none;
}

.about-item::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid var(--basic-grey-light);
  border-radius: 50%;
}

/* Footer Футер */

.footer {
  background-color: var(--basic-dark);
}

.footer,
.footer a {
  color: var(--basic-white);
}

.footer-logo {
  display: block;
  width: 163px;
  height: 35px;
  background-image: url('../img/logo-yellow.svg');
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-login {
  background-image: url('../img/icons/user-yellow.svg');
  background-repeat: no-repeat;
}

.footer-compare {
  background-image: url('../img/icons/compare-yellow.svg');
  background-repeat: no-repeat;
}

.footer-bucket {
  background-image: url('../img/icons/bucket-yellow.svg');
  background-repeat: no-repeat;
}

.footer-login:hover,
.footer-compare:hover,
.footer-bucket:hover {
  opacity: 0.6;
}

.footer-login:active,
.footer-compare:active,
.footer-bucket:active {
  opacity: 0.3;
}

.footer-address,
.footer-phone {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 20px;
}

.footer-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-item a:hover {
  opacity: 0.6;
}

.footer-item a:active {
  opacity: 0.3;
}

.social-item > a {
  opacity: 0.3;
}

.social-item > a:hover {
  opacity: 0.6;
}

.social-item > a:active {
  opacity: 0.1;
}

.facebook {
  background-image: url('../img/socials/facebook.svg');
  background-repeat: no-repeat;
}

.instagram {
  background-image: url('../img/socials/instagram.svg');
  background-repeat: no-repeat;
}

.twitter {
  background-image: url('../img/socials/twitter.svg');
  background-repeat: no-repeat;
}

.htmlacademy-link {
  background-image: url('../img/logo_htmlacademy.svg');
  background-repeat: no-repeat;
}

.htmlacademy-link:hover {
  opacity: 0.6;
}

.htmlacademy-link:active {
  opacity: 0.3;
}

/* Popup Modal */

.popup-close {
  border: none;
  background-color: transparent;
  background-image: url('../img/icons/close.svg');
  opacity: 0.6;
  width: 55px;
  height: 55px;
}

.popup-close:hover {
  opacity: 1;
}

.popup-close:active {
  opacity: 0.3;
}

/* Write Us Напишите нам */

.writeus-label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.writeus-input {
  background-color: var(--input-grey);
  border: none;
  outline: none;
}

.writeus-input:hover {
  background-color: var(--input-grey-hover);
}

.writeus-input:focus {
  background-color: transparent;
  border: 2px solid var(--special-yellow);
}

.writeus-input:required {
  background-color: var(--input-invalid);
}

.writeus-input::placeholder {
  color: var(--black-40);
}

.writeus-input:focus::placeholder {
  color: var(--basic-dark);
}
